bleach>=3.3.0
boto3
celery[redis]
cryptography
cx-oracle
Cython==0.29.21
django-cors-headers>=3.1.1
django-dirtyfields
django-filter==2.4.0
django-graphql-jwt
django-guardian
django-ordered-model
django-storages
django==3.2.12
djangorestframework
djangorestframework-jwt
dnspython
elasticsearch==7.9.1
elasticsearch-dsl==7.3.0
google-cloud-bigquery
graphene-django>=2.9.0
gunicorn
jinja2
mysql-connector-python
numpy>=1.17.3
pandas>=1.3.5
psycopg2-binary
pymssql<3.0
python3-saml>=1.9.0
snowflake-connector-python
sqlparse>=0.4.2
sql-metadata>=2.6.0
sshtunnel
