bleach
celery[redis]
cryptography
cx-oracle
Cython==0.29.21
django==3.0.8
django-cacheops
django-cors-headers>=3.1.1
django-dirtyfields
django-filter
django-graphql-jwt
django-guardian
django-ordered-model
django-storages
djangorestframework
djangorestframework-jwt
dnspython
graphene-django>=2.9.0
google-cloud-bigquery
gunicorn
mysql-connector-python
psycopg2-binary
pymssql<3.0
python3-saml
snowflake-connector-python
sshtunnel
