.workspaces {
  margin-top: 20px;
}
.workspace-list.ant-list {
  margin-top: 20px;
}
.workspace-list.ant-list .ant-list-item {
  background-color: #FFFFFF;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 16px;
}
.workspace-list.ant-list .ant-list-item:last-child {
  border-bottom: 1px solid #e8e8e8;
}
.workspace-list.ant-list .ant-list-item:hover {
  background-color: transparent;
  cursor: pointer;
}
.workspace-list.ant-list .workspace-arrow {
  color: $color-primary;
  position: absolute;
  right: 20px;
}
.workspace-setup-routing {
  margin-top: 40px
}
