body {
  background-color: $color-layout;
  margin: 0;
}
.hidden {
  display: none !important;
}
.fixed {
  position: fixed;
}
.editable:hover {
  cursor: pointer;
}
.right {
  float: right !important;
}
.left {
  float: left !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.full-width {
  width: 100%;
}
.copy-btn:hover {
  cursor: pointer;
}
.text-primary {
  color: $color-links !important;
}
.text-centered {
  text-align: center;
}
.mt-20 {
  margin-top: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mt-15 {
  margin-top: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mt-5 {
  margin-top: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.logo {
  color: #FFFFFF;
  padding-left: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 12px;
}
.link {
  color: $color-links;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}
.link:hover {
  color: $color-links-hover;
  text-decoration: none;
  outline: 0;
}
.ant-layout {
  background: $color-layout;
}
.ant-result-info .ant-result-icon > .anticon {
  color: $color-primary;
}
.ant-select .ant-select-selection--single {
  height: 42px;
}
.ant-select .ant-select-selection__rendered {
  line-height: 42px;
}
.ant-select .ant-select-selection-selected-value {
  line-height: 42px;
}
.ant-select-selection--multiple .ant-select-selection__rendered {
  margin-left: 11px;
}
.ant-form-item {
  margin-bottom: 18px;
}
.ant-form-item:last-child {
  margin-bottom: 0;
}
.ant-form-explain {
  margin-top: 5px;
}
.ant-form-item-label label:after {
  content: none;
}
.ant-form-item-control {
  line-height: 1.5;
}
.ant-input {
  padding-bottom: 20px;
  padding-top: 20px;
}
.ant-input.ant-input-sm {
  padding: 4px 11px;
  height: 32px;
}
textarea.ant-input {
  padding-bottom: 12px;
  padding-top: 12px;
}
.ant-tooltip-inner {
  text-align: center;
}
.ant-stacked-avatars .ant-avatar {
  margin-right: -10px;
}
.ant-stacked-avatar {
  background-color: #ccc;
  font-size: 12px;
}
.avatar-select-text {
  margin-left: 8px;
}
.tags-input .ant-select-selection--multiple > ul > li,
.tags-input .ant-select-selection--multiple .ant-select-selection__rendered > ul > li {
  margin-top: 9px;
}
.empty-text {
  text-align: center;
}
.redirection-component {
  margin: 40px auto;
  text-align: center;
}
.pill-group {
  display: inline-block;
  font-size: 10px;
}
.pill {
  text-decoration:none;
  color :#333333;
  padding: 0 12px;
  line-height: 26px;
  height: auto;
  display: inline-block;
  text-align: center;
  background-color: #DDDDDD;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.pill.keyname {
  font-weight: 700;
}
.pill.round {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.pill-group > .pill.round:not(:first-child):not(:last-child),
.pill-group > .pill:not(:first-child):not(:last-child) {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.pill-group > .pill.round:first-child,
.pill-group > .pill:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pill-group > .pill.round:last-child,
.pill-group > .pill:last-child {
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pill-group .pill + .pill {
  border-left: 1px solid rgba(0, 0, 0, .1);
  margin-left:-1px;
}

.radio-icon {
  width: 100%;
}
.radio-icon .ant-radio-button-wrapper {
  height: auto !important;
  padding: 20px;
  line-height: 2.1;
  text-align: center;
  width: -moz-calc(33.3% - 20px);
  width: -webkit-calc(33.3% - 20px);
  width: -o-calc(33.3% - 20px);
  width: calc(33.3% - 20px);
  margin: 0px 10px;
}
.radio-icon .ant-radio-button-wrapper:nth-child(n + 3) {
  margin-top: 20px;
}
.radio-icon .ant-radio-button-wrapper .text {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}
.radio-icon img {
  -o-object-fit: contain;
  object-fit: contain;
}
.exportable-table {
  .table-operations {
    padding: 8px 0;
    text-align: right;
  }
  .table-operations button {
    margin-right: 8px;
  }
  .ant-table-thead > tr > th {
    border-top: 1px solid #e8e8e8;
  }
  .ant-table-thead > tr:first-child > th:first-child {
    border-top-left-radius: 0;
  }
  .ant-table-thead > tr:first-child > th:last-child {
    border-top-right-radius: 0;
  }
}
.editable-cell {
  position: relative;
}
.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
  min-height: 31px;
  min-width: 200px;
  .editable-cell-icon {
    display: none;
  }
}
i.column-comments-icon {
  visibility: hidden;
}
.has-comments {
  i.column-comments-icon {
    visibility: visible;
  }
}
.editable-row:hover {
  i.column-comments-icon {
    visibility: visible;
  }
  .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
  }
  .editable-cell-icon {
    display: inline-block;
    float: right;
  }
}
.editable-text {
  .enabled {
    cursor: pointer;
  }
}

.comments {
  padding: 0;
  padding-bottom: 12px;
}
.has-comments-icon:hover {
  cursor: pointer;
}
.comment.pinned {
  border-left: 3px solid $color-primary;
  background-color: #FFFFFF;
}
.pinned-comment-header {
  font-size: 11px;
  padding: 0 4px;
  padding-bottom: 12px;
}
.update-comment {
  padding-top: 12px;
  .ant-btn-primary {
    margin-top: 12px;
  }
}
.create-comment-btn {
  margin-top: 12px;
}
.column-comment-thread {
  .ant-drawer-body {
    padding: 0;
  }
  .create-comment {
    padding: 24px;
    padding-bottom: 0;
  }
  .comment-thread {
    margin-top: 24px;
  }
  .ant-comment-nested {
    .create-comment {
      margin-top: 24px;
      padding: 0;
    }
  }
}

.user-settings {
  .ant-drawer-body {
    padding: 0;
  }
  .user-settings-profile,
  .user-settings-security,
  .user-settings-notifications {
    padding: 24px;
  }
}

.domain-verification-instructions .ant-table {
  background-color: #FFFFFF;
  margin-bottom: 24px;
  .ant-table-body {
    margin: 0;
  }
  .ant-table-content {
    border: 0;
    border-bottom: 1px solid #e8e8e8;
  }
}
.domain-verification-token:hover {
  cursor: pointer;
}

.select-filter-dropdown {
  padding: 8px;
}
.select-filter-dropdown .ant-checkbox-wrapper {
  display: block;
  width: 100%;
  padding: 6px;
}
.select-filter-dropdown .ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0;
}
.select-filter-dropdown .ant-divider {
  margin: 8px 0;
}
.column-definition-readme pre,
.ant-comment-content-detail pre {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
  padding: 8px 10px;
  white-space: pre;
  border-radius: 3px;
  overflow-x: auto;
}
.column-definition-readme pre,
.ant-comment-content-detail pre,
.ql-snow .ql-editor pre.ql-syntax {
  background: #f8f8f8;
  color: #657b83;
  border: 1px solid #cccccc;
}
.ql-snow .ql-editor pre {
  font-size: 14px;
  padding: 8px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ql-container .ql-editor {
  min-height: 60px;
  font-size: 14px;
}
.ql-mention-list-container {
  width: 270px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
  z-index: 9001;
  overflow: auto;
}
.ql-mention-loading {
  line-height: 44px;
  padding: 0 20px;
  vertical-align: middle;
  font-size: 16px;
}
.ql-mention-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.ql-mention-list-item {
  cursor: pointer;
  line-height: 44px;
  font-size: 16px;
  padding: 6px 14px;
  vertical-align: middle;
}
.ql-mention-list-item .avatar {
  display: inline-block;
  margin-right: 5px;
}
.ql-mention-list-item.disabled {
  cursor: auto;
}
.ql-mention-list-item.selected {
  background-color: #e8e8e8;
  text-decoration: none;
}
.mention {
  display: inline;
  background: rgba(9, 30, 66, 0.08);
  border: 1px solid transparent;
  border-radius: 20px;
  color: rgb(66, 82, 110);
  cursor: pointer;
  padding: 0px 0.3em 2px 0.23em;
  line-height: 1.714;
  font-size: 1em;
  font-weight: normal;
  word-break: break-word;
}
.mention a, .ql-editor .mention a {
  color: inherit;
  text-decoration: none;
}
.mention > span {
  margin: 0 3px;
}


.markdown-editor {
  .editor-options {
    background-color: #FFFFFF;
    border-left: 0;
    border-top: none;
    border: 1px solid #e8e8e8;
    height: 54px;
    padding: 0;
    padding: 10px;
    width: 100%;
    z-index: 100;
  }
  .editor-options {
    .title {
      display: inline-block;
      line-height: 32px;
    }
    .title a {
      font-weight: 700;
    }
    .buttons {
      display: inline-block;
      float: right;
    }
    .buttons .ant-btn {
      margin-left: 8px;
    }
  }
  .editor-pane {
    position: fixed;
    top: 57px;
    left: 0;
    bottom: 0;
    width: 50%;
    height: auto;
    overflow: auto;
  }
  .editor-pane, .result-pane > div {
    margin-top: 64px;
  }
  .result-pane > div {
    position: fixed;
    top: 57px;
    right: 0;
    left: 50%;
    bottom: 0;
    overflow: auto;
    padding: 10px;
    padding-left: 20px;
    color: #444;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.5em;
  }

  .editor textarea {
    padding: 20px;
  }

  .editor-pane textarea {
    min-height: 500px;
  }

  .cm-s-solarized.CodeMirror {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .CodeMirror {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    font-size: 16px;
  }
  .result-pane > div {
    padding: 24px;
  }
}
.readme, .markdown-editor .result-pane {
  a {
    color: #4183C4;
    text-decoration: none;
  }

  a.absent {
    color: #cc0000;
  }

  a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
  }

  h2:first-child, h1:first-child, h1:first-child + h2, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
    text-decoration: none;
  }

  h1 tt, h1 code {
    font-size: inherit;
  }

  h2 tt, h2 code {
    font-size: inherit;
  }

  h3 tt, h3 code {
    font-size: inherit;
  }

  h4 tt, h4 code {
    font-size: inherit;
  }

  h5 tt, h5 code {
    font-size: inherit;
  }

  h6 tt, h6 code {
    font-size: inherit;
  }

  h1 {
    font-size: 28px;
    color: black;
  }

  h2 {
    font-size: 24px;
    color: black;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    color: #777777;
    font-size: 14px;
  }

  p, blockquote, ul, ol, dl, li, table, pre {
    margin: 15px 0;
  }

  hr {
    border: 0;
    border-bottom: 1px solid #ccc;
    height: 4px;
    padding: 0;
  }

  body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
  }

  body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
  }

  h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
    margin-top: 0;
  }

  li p.first {
    display: inline-block;
  }

  ul, ol {
    padding-left: 30px;
  }

  ul :first-child, ol :first-child {
    margin-top: 0;
  }

  ul :last-child, ol :last-child {
    margin-bottom: 0;
  }

  dl {
    padding: 0;
  }

  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
  }

  dl dt:first-child {
    padding: 0;
  }

  dl dt > :first-child {
    margin-top: 0;
  }

  dl dt > :last-child {
    margin-bottom: 0;
  }

  dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
  }

  dl dd > :first-child {
    margin-top: 0;
  }

  dl dd > :last-child {
    margin-bottom: 0;
  }

  blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
  }

  blockquote > :first-child {
    margin-top: 0;
  }

  blockquote > :last-child {
    margin-bottom: 0;
  }

  table {
    padding: 0;
  }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }

  table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }

  table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }

  table tr th :first-child, table tr td :first-child {
    margin-top: 0;
  }

  table tr th :last-child, table tr td :last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
  }

  span.frame {
    display: block;
    overflow: hidden;
  }

  span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
  }

  span.frame span img {
    display: block;
    float: left;
  }

  span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0;
  }

  span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
  }

  span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
  }

  span.align-center span img {
    margin: 0 auto;
    text-align: center;
  }

  span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
  }

  span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
  }

  span.align-right span img {
    margin: 0;
    text-align: right;
  }

  span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
  }

  span.float-left span {
    margin: 13px 0 0;
  }

  span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
  }

  span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
  }

  code, tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
  }

  pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
  }

  .highlight pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
  }

  pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
  }

  pre code, pre tt {
    background-color: transparent;
    border: none;
  }
  pre {
    border: 1px solid #ccc;
  }

  blockquote {
    color: #666;
    margin: 0;
    padding-left: 1.5em;
    border-left: 0.5em #eee solid;
  }

  tr {
    border-top: 1px solid #c6cbd1;
    background: #fff;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  table tr:nth-child(2n) {
    background: #f6f8fa;
  }
}

