body {
  background-color: $color-layout;
  margin: 0;
}
.hidden {
  display: none !important;
}
.fixed {
  position: fixed;
}
.editable:hover {
  cursor: pointer;
}
.right {
  float: right !important;
}
.left {
  float: left !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.full-width {
  width: 100%;
}
.copy-btn:hover {
  cursor: pointer;
}
.text-primary {
  color: $color-links !important;
}
.text-centered {
  text-align: center;
}
.mt-20 {
  margin-top: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mt-15 {
  margin-top: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mt-5 {
  margin-top: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.logo {
  color: #FFFFFF;
  padding-left: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 12px;
}
.link {
  color: $color-links;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}
.link:hover {
  color: $color-links-hover;
  text-decoration: none;
  outline: 0;
}
.ant-layout {
  background: $color-layout;
}
.ant-result-info .ant-result-icon > .anticon {
  color: $color-primary;
}
.ant-select .ant-select-selection--single {
  height: 42px;
}
.ant-select .ant-select-selection__rendered {
  line-height: 42px;
}
.ant-select .ant-select-selection-selected-value {
  line-height: 42px;
}
.ant-select-selection--multiple .ant-select-selection__rendered {
  margin-left: 11px;
}
.ant-form-item {
  margin-bottom: 18px;
}
.ant-form-item:last-child {
  margin-bottom: 0;
}
.ant-form-explain {
  margin-top: 5px;
}
.ant-form-item-label label:after {
  content: none;
}
.ant-form-item-control {
  line-height: 1.5;
}
.ant-input {
  padding-bottom: 20px;
  padding-top: 20px;
}
.ant-input.ant-input-sm {
  padding: 4px 11px;
  height: 32px;
}
textarea.ant-input {
  padding-bottom: 12px;
  padding-top: 12px;
}
.ant-tooltip-inner {
  text-align: center;
}
.ant-stacked-avatars .ant-avatar {
  margin-right: -10px;
}
.ant-stacked-avatar {
  background-color: #ccc;
  font-size: 12px;
}
.avatar-select-text {
  margin-left: 8px;
}
.tags-input .ant-select-selection--multiple > ul > li,
.tags-input .ant-select-selection--multiple .ant-select-selection__rendered > ul > li {
  margin-top: 9px;
}
.empty-text {
  text-align: center;
}
.redirection-component {
  margin: 40px auto;
  text-align: center;
}
.pill-group {
  display: inline-block;
  font-size: 10px;
}
.pill {
  text-decoration:none;
  color :#333333;
  padding: 0 12px;
  line-height: 26px;
  height: auto;
  display: inline-block;
  text-align: center;
  background-color: #DDDDDD;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.pill.keyname {
  font-weight: 700;
}
.pill.round {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.pill-group > .pill.round:not(:first-child):not(:last-child),
.pill-group > .pill:not(:first-child):not(:last-child) {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.pill-group > .pill.round:first-child,
.pill-group > .pill:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pill-group > .pill.round:last-child,
.pill-group > .pill:last-child {
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pill-group .pill + .pill {
  border-left: 1px solid rgba(0, 0, 0, .1);
  margin-left:-1px;
}

.radio-icon {
  width: 100%;
}
.radio-icon .ant-radio-button-wrapper {
  height: auto !important;
  padding: 20px;
  line-height: 2.1;
  text-align: center;
  width: -moz-calc(33.3% - 20px);
  width: -webkit-calc(33.3% - 20px);
  width: -o-calc(33.3% - 20px);
  width: calc(33.3% - 20px);
  margin: 0px 10px;
}
.radio-icon .ant-radio-button-wrapper:nth-child(n + 3) {
  margin-top: 20px;
}
.radio-icon .ant-radio-button-wrapper .text {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}
.radio-icon img {
  -o-object-fit: contain;
  object-fit: contain;
}
.exportable-table {
  .table-operations {
    padding: 8px 0;
    text-align: right;
  }
  .table-operations button {
    margin-right: 8px;
  }
  .ant-table-thead > tr > th {
    border-top: 1px solid #e8e8e8;
  }
  .ant-table-thead > tr:first-child > th:first-child {
    border-top-left-radius: 0;
  }
  .ant-table-thead > tr:first-child > th:last-child {
    border-top-right-radius: 0;
  }
}
.editable-cell {
  position: relative;
}
.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
  min-height: 31px;
  min-width: 200px;
  .editable-cell-icon {
    display: none;
  }
}
i.column-comments-icon {
  visibility: hidden;
}
.has-comments {
  i.column-comments-icon {
    visibility: visible;
  }
}
.editable-row:hover {
  i.column-comments-icon {
    visibility: visible;
  }
  .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
  }
  .editable-cell-icon {
    display: inline-block;
    float: right;
  }
}
.editable-text {
  .enabled {
    cursor: pointer;
  }
}

.comments {
  padding: 0;
  padding-bottom: 12px;
}
.has-comments-icon:hover {
  cursor: pointer;
}
.comment.pinned {
  border-left: 3px solid $color-primary;
  background-color: #FFFFFF;
}
.pinned-comment-header {
  font-size: 11px;
  padding: 0 4px;
  padding-bottom: 12px;
}
.update-comment {
  padding-top: 12px;
  .ant-btn-primary {
    margin-top: 12px;
  }
}
.create-comment-btn {
  margin-top: 12px;
}
.column-comment-thread {
  .ant-drawer-body {
    padding: 0;
  }
  .create-comment {
    padding: 24px;
    padding-bottom: 0;
  }
  .comment-thread {
    margin-top: 24px;
  }
  .ant-comment-nested {
    .create-comment {
      margin-top: 24px;
      padding: 0;
    }
  }
}

.user-settings {
  .ant-drawer-body {
    padding: 0;
  }
  .user-settings-profile,
  .user-settings-security,
  .user-settings-notifications {
    padding: 24px;
  }
}

.domain-verification-instructions .ant-table {
  background-color: #FFFFFF;
  margin-bottom: 24px;
  .ant-table-body {
    margin: 0;
  }
  .ant-table-content {
    border: 0;
    border-bottom: 1px solid #e8e8e8;
  }
}
.domain-verification-token:hover {
  cursor: pointer;
}

.select-filter-dropdown {
  padding: 8px;
}
.select-filter-dropdown .ant-checkbox-wrapper {
  display: block;
  width: 100%;
  padding: 6px;
}
.select-filter-dropdown .ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0;
}
.select-filter-dropdown .ant-divider {
  margin: 8px 0;
}
.ant-comment-content-detail pre {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
  padding: 8px 10px;
  white-space: pre;
  border-radius: 3px;
  overflow-x: auto;
}
.ant-comment-content-detail pre, .ql-snow .ql-editor pre.ql-syntax {
  background-color: #fafbfc;
  border: 1px solid #cccccc;
  color: #23241f;
}
.ql-snow .ql-editor pre {
  font-size: 14px;
  padding: 8px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ql-container .ql-editor {
  min-height: 60px;
  font-size: 14px;
}
.ql-mention-list-container {
  width: 270px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
  z-index: 9001;
  overflow: auto;
}
.ql-mention-loading {
  line-height: 44px;
  padding: 0 20px;
  vertical-align: middle;
  font-size: 16px;
}
.ql-mention-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.ql-mention-list-item {
  cursor: pointer;
  line-height: 44px;
  font-size: 16px;
  padding: 6px 14px;
  vertical-align: middle;
}
.ql-mention-list-item .avatar {
  display: inline-block;
  margin-right: 5px;
}
.ql-mention-list-item.disabled {
  cursor: auto;
}
.ql-mention-list-item.selected {
  background-color: #e8e8e8;
  text-decoration: none;
}
.mention {
  display: inline;
  background: rgba(9, 30, 66, 0.08);
  border: 1px solid transparent;
  border-radius: 20px;
  color: rgb(66, 82, 110);
  cursor: pointer;
  padding: 0px 0.3em 2px 0.23em;
  line-height: 1.714;
  font-size: 1em;
  font-weight: normal;
  word-break: break-word;
}
.mention a, .ql-editor .mention a {
  color: inherit;
  text-decoration: none;
}
.mention > span {
  margin: 0 3px;
}




.copy-code-button {
    color: #272822;
    background-color: #FFF;
    border-color: #272822;
    border: 2px solid;
    border-radius: 3px 3px 0px 0px;

    /* right-align */
    display: block;
    margin-left: auto;
    margin-right: 0;

    margin-bottom: -2px;
    padding: 3px 8px;
    font-size: 0.8em;
}

.copy-code-button:hover {
    cursor: pointer;
    background-color: #F2F2F2;
}

.copy-code-button:focus {
    /* Avoid an ugly focus outline on click in Chrome,
       but darken the button for accessibility.
       See https://stackoverflow.com/a/25298082/1481479 */
    background-color: #E6E6E6;
    outline: 0;
}

.copy-code-button:active {
    background-color: #D9D9D9;
}

.highlight pre {
    /* Avoid pushing up the copy buttons. */
    margin: 0;
}
