.workspace {
  .breadcrumbs-wrapper {
    border: 0;
  }
}
.workspace-settings {
  margin-bottom: 40px;
  .workspace-settings-content {
    padding: 24px;
    margin-bottom: 24px;
  }
  .ant-card-body {
    padding: 0;
  }
  .ant-menu {
    font-size: 15px;
    .ant-menu-item:first-child {
      margin-top: 0 !important;
    }
    .ant-menu-item:last-child {
      margin-bottom: 0 !important;
    }
  }
}
.team-member-list .ant-table {
  border: 1px solid #e8e8e8;
  border-bottom: 0;
}
.invite-user-to-workspace {
  margin-bottom: 24px;
  .ant-input {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 300px;
  }
  .ant-select-selection--single {
    height: 34px;
    width: 100px;
    .ant-select-selection__rendered {
      line-height: 34px;
    }
    .ant-select-selection-selected-value {
      line-height: 34px;
    }
  }
}
.team-member-list {
  .ant-table-pagination.ant-pagination {
  margin-bottom: 0;
  }
}
.user-display-name {
  .avatar {
    float: left;
    display: inline-block;
    line-height: 40px;
  }
  .metadata {
    display: inline-block;
    margin-left: 12px;

    .email {
      color: #797979;
    }
  }
}
.groups-table {
  .ant-table-thead > tr:first-child > th:last-child {
    text-align: left;
  }
}
.profile-metadata {
  margin-top: 6px;
  .profile-name {
    font-size: 18px;
    font-weight: 700;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: 6px;
  }
  ul > li {
    color: #a7a7a7;
    font-weight: 400;
    font-size: 14px;
    padding-right: 12px;
    margin-bottom:6px;
  }
  ul > li:last-child {
    margin-bottom: 0;
  }
  ul > li .anticon {
    margin-right: 4px;
  }
}
.group-profile, .user-profile {
  .breadcrumbs-wrapper {
    border: 0;
  }
  .ant-card-body {
    padding: 0;
  }
  .ant-tabs-bar {
    margin-bottom: 0;
  }
  .group-profile-header, .user-profile-header {
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    padding: 24px;
    .profile-avatar {
      display: inline-block;
      float: left;
      margin-right: 18px;
    }
  }
  .group-profile-description {
    margin-top: 8px;
  }
  .groups-table {
    .ant-table {
      border: none;
      margin-top: 0;
    }
    .ant-table-content {
      border: none;
    }
    .ant-table-placeholder {
      border-bottom: none;
    }
  }
}
.user-profile-popover, .group-profile-popover {
  display: inline-block;
  a {
    color: $color-dark;
  }
  a:hover {
    color: $color-primary;
  }
  .profile-avatar {
    float: left;
    display: inline-block;
    line-height: 40px;
  }
  .profile-name {
    font-size: 14px;
  }
  .profile-metadata {
    display: inline-block;
    margin-left: 12px;

    ul > li {
      display: block;
      margin-bottom: 6px;
      font-size: 12px;
    }
    ul > li:last-child {
      margin-bottom: 0;
    }
  }
}
.add-user-to-group-form {
  .ant-select-selection--single {
    height: 42px;
  }
  .ant-select-selection-selected-value,
  .ant-select-selection__rendered {
    line-height: 42px;
  }
}
.update-user-permissions {
  .ant-select-selection--single {
    height: 34px;
    width: 100px;
    .ant-select-selection__rendered {
      line-height: 34px;
    }
    .ant-select-selection-selected-value {
      line-height: 34px;
    }
  }
  .ant-btn {
    padding: 0 10px;
    margin-left: 5px;
  }
}
.groups-table,
.custom-fields-table {
  .ant-table {
    border-top: 1px solid #e8e8e8;
    margin-top: 16px;
  }
  .ant-table-content {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
  }
}
.sso-connections-table {
  .ant-table {
    border: 1px solid #e8e8e8;
    border-bottom: 0;
  }
  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
    background: #FFFFFF;
  }
}
.sso-connection-setup-form {
  .steps-content {
    padding: 24px;
  }
}
.sso-domain-setup {
  margin: 24px 0;
  .ant-input {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
  }
}
.sso-domains {
  .sso-domains-table {
    .ant-table {
      border: 1px solid #e8e8e8;
      border-bottom: 0;
    }
  }
}
.add-sso-connection-btn {
  margin-bottom: 20px;
}
.sso-connection-setup-form small {
  margin: 10px;
  display: block;
  margin-top: 0;
}
.workspace-saml-setup, .workspace-saml-editing {
  margin-top: 40px;
}
