$color-layout: #F7F8FA;
$color-navbar: #003945;
$color-primary: #f7777b;
$color-primary-light: #fff2f0;
$color-links: #f7777b;
$color-links-hover: #11A4CD;
$color-border: #e8e8e8;
$color-light-grey: #e8e8e8;
$color-dark: rgba(0, 0, 0, 0.65);

@import './pages/_overrides.scss';
@import './pages/_navigation.scss';
@import './pages/Authentication/_authentication.scss';
@import './pages/Workspaces/_workspaces.scss';
@import './pages/WorkspaceSettings/_workspacesettings.scss';
@import './pages/Datastores/_datastores.scss';
@import './pages/Omnisearch/_omnisearch.scss';

.ant-alert-info {
  background-color: $color-primary-light !important;
  border: 1px solid $color-primary !important;
}
.timer {
  margin: 20px 0;
}
.boolean-status {
  .text {
    margin-left: 6px;
  }
}
.popularity-score {
  margin-left: 7px;
}
.failed-check {
  color: #cf1322;
}
.not-expandable .ant-table-row-expand-icon {
  display: none;
}
.editable-cell-value-wrap {
  code {
    background: #f8f8f8;
    border: 1px solid #ddd;;
    border-radius: 0.2rem;
    color: #e01e5a;
    font-size: .75rem;
    padding: 2px 3px 1px;
    white-space: normal;
  }
  p {
    margin-bottom: 0;
  }
}
.comments {
  .ant-card-body {
    padding: 0;
    .create-comment {
      margin-top: 12px;
      .create-comment-btn {
        margin-top: 12px;
      }
    }
    > .create-comment {
      padding: 12px 24px;
    }
    .ant-comment-nested {
      .create-comment {
        padding: 12px 0;
      }
    }
  }
}
.comment {
  background-color: #FFFFFF;
  padding: 12px;
  .comment {
    border-left: 1px solid $color-light-grey;
    margin-top: 12px;
    padding-bottom: 0;
  }
  .ant-comment-actions {
    margin-bottom: 0;
  }
  .ant-comment-inner {
    padding: 0;
  }
}
.info-item {
  .info-item-label {
    display: block;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .info-item-value {
    display: block;
  }
}
.integration-icon {
  .ant-avatar {
    border-radius: 0;
    img {
      object-fit: initial;
    }
  }
}
.integrations-table {
  .ant-table {
    border: 1px solid $color-border;
    .ant-table-thead {
      display: none;
    }

    .ant-table-tbody > tr:hover {
      cursor:  pointer;
    }
  }
}
.integration {
  display: flex;

  .integration-info {
    padding: 0px 16px;
  }
  .integration-name {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 14px;
  }
  .integration-icon {
    margin-top: 3px;
  }
  .integration-status {
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    .dot {
      display: inline-block;
      position: relative;
      border-radius: 50%;
      height: 6px;
      width: 6px;
      background: rgb(128, 112, 143);
    }
    .desc {
      color: rgb(128, 112, 143);
      margin-left: 4px;
      margin-right: 6px;
    }
  }
  .integration-status.installed {
    .dot {
      background: rgb(43, 161, 133);
    }
    .desc {
      color: rgb(43, 161, 133);
    }
  }
  .integration-tags {
    display: block;
    margin-top: 6px;
  }
}
.integration-configs-table {
  .ant-table {
    border: 1px solid $color-border;
    margin-top: 16px;
  }
}
.integration-form {
  h3 {
    font-size: 18px;
  }
  .form-label-wrapper {
    margin-bottom: 12px;
  }
  .form-label {
    margin-bottom: 4px;
  }
  .ant-form-item label {
    font-size: 16px;
  }
  small {
    font-size: 12px;
    margin-left: 10px;
  }
  .ant-form-item {
    margin-left: 10px;
  }
}
