$color-layout: #F7F8FA;
$color-navbar: #003945;
$color-primary: #f7777b;
$color-primary-light: #fff2f0;
$color-links: #f7777b;
$color-links-hover: #11A4CD;
$color-border: #e8e8e8;
$color-light-grey: #e8e8e8;
$color-dark: rgba(0, 0, 0, 0.65);

@import './pages/_overrides.scss';
@import './pages/_navigation.scss';
@import './pages/Authentication/_authentication.scss';
@import './pages/Workspaces/_workspaces.scss';
@import './pages/WorkspaceSettings/_workspacesettings.scss';
@import './pages/Datastores/_datastores.scss';
@import './pages/Omnisearch/_omnisearch.scss';

.ant-alert-info {
  background-color: $color-primary-light !important;
  border: 1px solid $color-primary !important;
}
.boolean-status {
  .text {
    margin-left: 6px;
  }
}
.failed-check {
  color: #cf1322;
}
.not-expandable .ant-table-row-expand-icon {
  display: none;
}
.editable-cell-value-wrap {
  code {
    background: #f8f8f8;
    border: 1px solid #ddd;;
    border-radius: 0.2rem;
    color: #e01e5a;
    font-size: .75rem;
    padding: 2px 3px 1px;
    white-space: normal;
  }
  p {
    margin-bottom: 0;
  }
}
.comments {
  .ant-card-body {
    padding: 0;
    .create-comment {
      margin-top: 12px;
      .create-comment-btn {
        margin-top: 12px;
      }
    }
    > .create-comment {
      padding: 12px 24px;
    }
    .ant-comment-nested {
      .create-comment {
        padding: 12px 0;
      }
    }
  }
}
.comment {
  background-color: #FFFFFF;
  padding: 12px;
  .comment {
    border-left: 1px solid $color-light-grey;
    margin-top: 12px;
    padding-bottom: 0;
  }
  .ant-comment-actions {
    margin-bottom: 0;
  }
  .ant-comment-inner {
    padding: 0;
  }
}
.info-item {
  .info-item-label {
    display: block;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .info-item-value {
    display: block;
  }
}
.integration-icon {
  .ant-avatar {
    border-radius: 0;
    img {
      object-fit: initial;
    }
  }
}
