.datastores {
  margin: 0;
  .breadcrumbs-wrapper {
    background-color: #FFFFFF;
  }
}
.datastores .datastores-inner {
  height: calc(100vh - 120px);
}
.datastores .datastores-inner > .ant-row,
.datastores .datastores-inner > .ant-row > .ant-col {
  height: 100%;
}
.datastores .datastores-menu {
  height: 100%;
  position: fixed;
  width: inherit;
  .ant-menu-item:first-child {
    margin-top: 0 !important;
  }
}
.datastores .datastore-definition {
  height: 100%;
  margin-top: 53px;
  // position: fixed;
  // width: inherit;
  > .ant-row {
    height: 100%;
    > .ant-col {
      height: 100%;
      > .table-schema-selector {
        height: 100%;
        /*overflow-y: scroll;*/
      }
    }
  }
}
.datastore-sidebar-header-wrapper {
  background-color: #FFFFFF;
  border: 1px solid #e8e8e8;
  display: flex;
  height: 54px;
  overflow: hidden;
  padding: 10px 24px;
  white-space: nowrap;
}
.datastore-sidebar-header-name {
  display: inline-block;
  flex: 1;
  margin-left: 14px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
.datastore-description {
  margin: 10px 0;
  .ant-input {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 620px;
  }
}
.datastores .datastores-content {
  margin-top: 54px;
  margin-bottom: 40px;
}
.datastores .datastores-content .inner-datastore-layout {
  margin-top: 28px;
}
.datastores .datastore-schemas {
  margin-top: 54px;
}
.datastores .datastore-columns {
  background-color: #FFFFFF;
  .column-name {
    color: $color-navbar;
    font-weight: 500;
  }
}
.datastores .datastore-discussions {
  padding: 24px;
}
.datastores .datastore-columns .datastore-columns-expansion {
  .form-label {
    margin-bottom: 8px;
  }
  .form-label .popover {
    float: none;
    margin-right: 0;
    margin-left: 8px;
  }
  .datastore-columns-expansion-item {
    margin-bottom: 12px;
  }
  .datastore-columns-expansion-item:last-child {
    margin-bottom: 0;
  }
}
.column-definition-details {
  .ant-drawer-body {
    padding: 0;
  }
  .column-definition-comments {
    padding: 24px;
  }
  .column-definition-readme {
    padding: 24px;
  }
  .column-definition-readme {
    .ant-alert {
      margin-bottom: 24px;
    }
  }
}
.datastores .datastore-indexes {
  background-color: #FFFFFF;
}
.datastores .datastore-assets {
  background-color: #FFFFFF;
  border: 1px solid #e8e8e8;
  border-bottom: 0;
}
.table-owners-toolbar {
  .table-owners-toolbar-item {
    margin-left: 10px;
  }
  .table-owners-toolbar-item:hover {
    cursor: pointer;
  }
}
.table-owner-search-wrapper .ant-btn {
  margin-left: 12px;
  height: 36px;
  line-height: 36px;
}

.table-owner-search-dropdown .ant-select-dropdown-menu-item-group-title {
  color: #666;
  font-weight: bold;
}

.table-owner-search-dropdown .ant-select-dropdown-menu-item-group {
  border-bottom: 1px solid #f6f6f6;
}

.table-owner-search-dropdown .ant-select-dropdown-menu-item {
  padding-left: 16px;
}

.table-owner-search-dropdown .ant-select-dropdown-menu-item.show-all {
  text-align: center;
  cursor: default;
}

.table-owner-search-dropdown .ant-select-dropdown-menu {
  max-height: 300px;
}
.datastore .datastore-assets .ant-table-row td:first-child,
.datastore .datastore-assets .ant-table-row td:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
.datastores .datastore-asset-search {
  margin-bottom: 24px;
}
.ant-card.datastore-details {
  margin-bottom: 24px;

  .data-asset-tags {
    margin-top: 12px;
  }
}
.datastore-settings {
  .ant-card-body {
    padding: 0;
  }
  .datastore-settings-header {
    padding: 24px;
    padding-bottom: 0;
  }
  .datastore-deletion {
    background-color: rgb(249, 249, 251);
    padding: 12px 24px;
    border-top: 1px solid rgb(237, 240, 242);
  }
  .datastore-settings-form {
    padding: 24px;
    padding-top: 0;
    .datastore-crawling-enabled > .ant-card-body {
      line-height: 24px;
      padding: 16px;
    }
    .datastore-crawling-enabled .label {
      display: block;
      font-weight: 700;
    }
  }
}
.datastore-run-history {
  background: #FFFFFF;
  border: 1px solid #e8e8e8;
  border-bottom: 0;
}
.first-run-pending {
  text-align: center;
  margin-top: 24px;
  .ant-spin.ant-spin-spinning {
    margin-top: 24px;
  }
}
.datastore-engine-icon {
  .ant-avatar {
    border-radius: 0;
    img {
      object-fit: initial;
    }
  }
}
.table-revision-log {
  background: #FFFFFF;
  .ant-list-bordered {
    border-radius: 0;
    border: none;
  }
}
.revision-A_1 b {
  color: #52c41a;
}
.revision-A_2 b {
  color: #faad14;
}
.revision-A_3 b {
  color: #f5222d;
}
.table-owners {
  margin-bottom: 20px;
}
.table-owners .ant-card-body {
  padding: 12px;
}
.table-owners.empty .ant-card-body {
  padding: 24px;
}
.table-owners .table-owner-display {
  padding: 12px;
}
.table-owners .table-owner-display {
  .avatar {
    float: left;
    display: inline-block;
  }
  .metadata {
    display: inline-block;
    margin-left: 16px;
    line-height: 32px;
  }
  .icon {
    display: inline-block;
    float: right;
    font-size: 14px;
    line-height: 32px;
  }
}
.table-owners .table-owner.editing {
  border: 1px solid #e8e8e8;
  margin-bottom: 12px;
}
.asset-owner-delete:hover {
  cursor: pointer;
}
.table-revision {
  border-bottom: 1px solid #e8e8e8;
  padding: 12px;
}
.modified-table-revision {
  .ant-tag-red {
    text-decoration: line-through;
  }
}
.revisions {
  .ant-drawer-body {
    padding: 0;
  }
}
.ssh-tunnel-enabled > .ant-card-body {
  line-height: 24px;
  padding: 16px;
}
.ssh-tunnel-enabled .label {
  display: block;
  font-weight: 700;
}
.ssh-tunnel-form {
  margin-top: 20px;
}
.table-schema-selector-wrapper {
  background: #FFFFFF;
  height: 100vh;
  border-left: 1px solid #e8e8e8;
}
.table-schema-selector-wrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.table-schema-selector-clearfix {
  height: 120px;
}
.table-schema-search {
  input.ant-input {
    border-color: #e8e8e8;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    font-size: 12px;
  }
  input.ant-input:hover, input.ant-input:focus {
    border-color: #e8e8e8;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: #e8e8e8;
  }
}
.table-schema-selector {
  background-color: #FFFFFF;

  .loading {
    color: #989898;
    padding: 48px 0;
    letter-spacing: 0.1em;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  .ant-collapse > .ant-collapse-item {
    border-bottom: 1px solid #e8e8e8;
  }
  .ant-collapse > .ant-collapse-item:last-child,
  .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
    border-radius: 0;
  }
  .ant-collapse {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
  }
  .ant-collapse-item {
    border: 0;
    .tablename {
      display: block;
      padding-bottom: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      .anticon-table {
        margin-right: 5px;
      }
    }
  }
  .ant-collapse-content-active {
    border: 0;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding-top: 10px;
    padding-bottom: 0;
    font-size: 13px;
  }
  .ant-collapse-item > .ant-collapse-header {
    background-color: #FFFFFF;
    padding: 4px 12px;
    padding-left: 40px;
    font-size: 13px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    .ant-collapse-arrow {
      font-size: 9px;
    }
  }
}
.table-schema-selector.search .search-result:first-child {
  padding-top: 16px;
}
.table-schema-selector.search .search-result {
  padding: 8px 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.datastore-setup {
  margin-top: 40px;

  .datastore-credentials-icon {
    float: right;
    padding-left: 12px;

    .ant-avatar {
      min-height: 60px;
      min-width: 60px;
    }

    img {
      -o-object-fit: contain;
      object-fit: contain;
    }
  }
  .datastore-setup-form {
    .steps-action {
      padding-top: 20px;
    }
  }
  .radio-icon .ant-radio-button-wrapper:first-child,
  .radio-icon .ant-radio-button-wrapper:nth-child(3n + 1) {
    margin-left: 0;
  }
}

.datastores-list {
  margin-top: 40px;
}
.datastores-list .ant-avatar > img {
  -o-object-fit: contain;
  object-fit: contain;
}
.datastores-list .searchbar {
  margin-bottom: 40px;
}
.datastores-list .searchbar .ant-btn {
  float: right;
  min-height: 40px;
}
.datastores-list .ant-table {
  background-color: #FFFFFF;
  border: 1px solid #e8e8e8;
}
.datastores-list .ant-table .actions {
  float: right;
}
.datastores-list .ant-table .datastore-name {
  font-weight: 500;
}
.datastores-list .ant-table .ant-table-row:hover {
  cursor: pointer;
}

.table-properties {
  .pill-group {
    margin-right: 10px;
  }
  .pill-group:last-child {
    margin-right: 0;
  }
}

.table-description {
  margin: 10px 0;
  .ant-input {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 620px;
  }
}
.table-definition-details.ant-card-bordered {
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 0;
}
.table-definition-details.ant-card-bordered h3 {
  margin-bottom: 0;
}
.data-asset-tags {
  .tags-input {
    width: 500px;
    .ant-select-selection--multiple {
      height: 36px;
      .ant-select-selection__rendered > ul > li {
        margin-top: 5px;
      }
    }
  }
  .ant-select-selection__rendered {
    line-height: 36px;
  }
}

.ant-select-dropdown-menu-item {
  .avatar {
    display: inline-block;
    margin-right: 5px;
        vertical-align: top;
        line-height: 22px;
  }
}

.datastore-activity {
  .ant-card-body {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.datastore-activity-item {
  .ant-list-item-meta-title {
    font-weight: 400;
    a {
      color: $color-links;
      font-weight: 700;
    }
  }
  a {
    color: $color-links;
  }

}

/*
 * Custom Properties
 */

.ant-card.custom-properties-settings {
  margin-top: 24px;
}
.custom-properties-settings {
  .ant-card-body {
    padding: 0;
  }
  .custom-properties-settings-header {
    padding: 24px;
    padding-bottom: 0;
  }
  .custom-property-settings-form {
    padding: 24px;
    padding-top: 0;
    .ant-alert {
      padding: 16px;
    }
    .custom-property-settings-fieldset {
      margin-top: 24px;
      margin-bottom: 12px;
      .ant-form-item {
        margin-bottom: 6px;
      }
      .ant-checkbox-group {
        display: block;
        margin-top: 12px;
      }
      .ant-checkbox-group-item {
        display: block;
        margin-bottom: 12px;
      }
      .ant-checkbox-wrapper {
        margin-right: 8px;
      }
    }
  }
}
.custom-fields-form {
  .ant-form-item-label {
    text-align: right;
    line-height: 32px;
    label {
      margin-right: 10px;
    }
  }
  .ant-form-item {
    margin-bottom: 4px;
  }
  .ant-input {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 16px;
  }
  .ant-select {
    margin-bottom: 16px;
    .avatar {
      display: inline-block;
      line-height: 24px;
      .ant-avatar {
        font-size: 12px;
        height: 22px;
        line-height: 22px;
        margin-right: 5px;
        vertical-align: top;
        width: 22px;
      }
    }
  }
  .ant-select-selection--single {
    height: 32px;
  }
  .ant-select-selection-selected-value {
    line-height: 32px;
  }
  .ant-select-selection__rendered {
    line-height: 32px;
  }
  .custom-fields-edit-actions {
    float: right;
    .ant-btn {
      margin-left: 10px;
    }
  }
}
.custom-fields-toolbar {
  .custom-fields-toolbar-item {
    margin-left: 10px;
  }
  .custom-fields-toolbar-item:hover {
    cursor: pointer;
  }
}
.custom-property {
  position: relative;
  padding: 8px 0;
}
.custom-property:after {
  content: "";
  display: table;
  clear: both;
}
.custom-fields-form.editing {
  .custom-property .labelWrap {
    line-height: 30px;
  }
}
.custom-property {
  .labelWrap {
    text-align: right;
    word-wrap: break-word;
    display: inline-block;
    width: 128px;
  }
  .labelWrap > .label {
    font-weight: 700;
    text-align: right;
    word-wrap: break-word;
    margin: 2px 0;
  }
  .valueWrap {
    display: inline-block;
    align-items: center;
    float: right;
    position: relative;
    width: calc(100% - 144px);
    word-wrap: break-word;
  }
  .valueWrap > .value {
    max-width: 100%;
    overflow: hidden;
    white-space: pre-line;
    word-wrap: break-word;
    display: inline;
  }
}

@media only screen and (min-width: 360px) and (max-width: 1280px) {
  .custom-property .labelWrap {
    width: 100%;
    text-align: left;
    margin-bottom: 6px;
  }
  .custom-property .valueWrap {
    width: 100%;
  }
  .custom-fields-form .ant-input,
  .custom-fields-form .ant-select {
    margin-bottom: 0 !important;
  }
  .custom-fields-edit-actions {
    margin-top: 12px;
  }
}

.datastore-access {
  .toggling {
    text-align: center;
    margin: 40px 0;
  }
  .datastore-access-privileges-table {
    .ant-table {
      border: 1px solid $color-light-grey;
      margin-top: 24px;
    }
    .ant-pagination {
      margin-bottom: 0
    }
  }
}
.grant-datastore-access-form {
  .ant-checkbox-wrapper {
    border: 1px solid #eee;
    padding: 24px 12px;
    margin-bottom: 12px;
    width: 100%;
  }
  .ant-checkbox-checked::after {
    border: none;
  }
  .ant-checkbox {
    vertical-align: top;
    margin-right: 8px;
    margin-top: 4px;
    width: 24px;
  }
  .checkbox-content {
    display: inline-block;
    width: calc(100% - 64px);
  }
  .ant-select-selection--single {
    height: 42px;
  }
  .datastore-permission-lvl {
    display: block;
    font-weight: 700;
    margin-bottom: 6px;
  }
  .datastore-permission-desc {
    margin-bottom: 0
  }
}
.reset-privileges {
  color: $color-links;
  margin-left: 6px;
}
